.question {
    padding: 15px;
    border: 1px solid #ccc;
}

.question:hover {
    background-color: #ccc;
    cursor: pointer;
    transition: all 0.3s;
}

.question:hover .fa-clock {
    color: white
}

.status,
.created,
.item {
    display: inline-block;
}

.center {
    margin: 0 auto;
}

.item {
    margin-right: 15px;
    vertical-align: middle;
    max-width: 70%;
}

.status {
    font-size: 30px;

}

.fa-clock {
    color: #ccc;
}

.fa-check {
    color: green;
}

.created {
    float: right;
}

.author {
    font-size: 12px;
}